<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">

  <title>Document</title>
</head>

<body>
  {{>header}}
  <p>Use this site to get your weather!</p>
  <form>
    <input placeholder="Location..">
    <button type="submit">Search</button>
  </form>
  <div class="message-container"></div>
  <script src="../../js/index.js"></script>
</body>

</html>